{
  "component": {
    "$COMPONENT_NAME": {
      "author": "$COMPONENT_AUTHOR",
      "version": "$COMPONENT_VERSION",
      "build": {
        "build_system": "zip"
      },
      "publish": {
        "bucket": "$BUCKET_NAME",
        "region": "$AWS_REGION"
      }
    }
  },
  "gdk_version": "1.3.0"
}