{
  "component": {
    "$COMPONENT_NAME": {
      "author": "$COMPONENT_AUTHOR",
      "version": "$COMPONENT_VERSION",
      "build": {
        "build_system": "custom",
        "custom_build_command": [
          "bash",
          "scripts/build-custom.sh",
          "$COMPONENT_NAME",
          "$COMPONENT_VERSION"
        ]
      },
      "publish": {
        "bucket": "$BUCKET_NAME",
        "region": "$AWS_REGION"
      }
    }
  },
  "gdk_version": "1.3.0"
}