{
    "component": {
      "com.example.BatteryAwareHelloWorld": {
        "author": "Synapse Automota",
        "version": "$COMPONENT_VERSION",
        "build": {
          "build_system" : "zip"
        },
        "publish": {
          "region": "ap-southeast-2",
          "bucket": "greengrass-component-artifacts"
        }
      }
    },
    "gdk_version": "1.3.0"
  }